h3 {
    color:white;
    background:blue;
    padding:10px;
    margin-top:10px;
}
p {
    margin:2px;
    color:gray;
    font-weight: bold;
    background: white;
}
.buttons {
    margin:5px;
    background:gray;
    color:white;
}

.btnBox {
    display:none;
    border:black solid 2px;
    padding: 2px;
    margin-top:10px;
    margin-bottom:10px;
    min-height: 45px;
}

#btnAdd,#btnClear {
    /* float:left; */
    margin-top:10px;

}

.images {
    margin-left: 25px;
}

.images1 {
    margin-right: 30px;
}

.gifs {
    margin:5px;
}
